@import url('https://fonts.cdnfonts.com/css/general-sans');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*general settings*/
* {
  scroll-behavior: smooth;
  padding:0;
  margin:0;
}

body {
  font-family: 'General Sans', sans-serif;
  background-color:black;
  cursor:default;
}
/*Home Page*/
.nav-bar__header{
  top:0;
  left:0;
  right:0;
  z-index: 1;
  position:absolute;
  display:flex;
  align-content:center;
  justify-content: center;
  opacity: 0.5;
  height:50px;
  color:rgb(250, 246, 246);
  font-weight: bold;
  backdrop-filter: blur(50px);
  background-color: rgba(209, 207, 209, 0.315);
}
.nav-link{
  font-size: 42px;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  opacity: 0.9;
}
.canvas{
  width:100%;
  height:100%;
  pointer-events: auto;
}
#home-page{
  background-color: black;
  width:100%;
  height:100%;
  position: absolute;
}
.skill-wrapper{
  display:flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  bottom:100%;
  width:50%;
  height:10%;
  transform: translateX(-10%);
  opacity: 1;
  text-align: center;
}
.skill-container{
  position:relative;
  display: flex;
justify-content: center;
align-items: center;
text-align: center;
 text-align: center;
 width:100%;
}
.skill{
position:relative;
display: flex;
align-items:center;
justify-content: center;
color:rgba(224, 32, 32, 0.897);
top:0;
font-size: 3em;
text-shadow: 4px 2px 20px rgba(58, 57, 56, 0.973);
border: 2px solid white;
background: linear-gradient(to bottom, rgba(241, 231, 231, 0.7), rgba(68, 65, 65, 0.7));
text-align: center;
transition:transform 0.2s ease;

}
.skill:hover{
  transform: scale(1.1);
  background-color: red;
}
.skill-logic{
  color:rgb(207, 63, 63);
  margin: 0 auto;
  font-size: 32px;
  display: flex;
  margin-bottom:100%;
  text-align: center;
}
/*transition of skills to animate in different positions after click*/
.skill-container .skill:nth-child(1){
  transform:rotate(0deg) translateX(-10px) rotate(0deg);
}
.skill-container .skill:nth-child(2){
  transform: rotate(30deg) translateX(600px) rotate(-30deg);
}
.skill-container .skill:nth-child(3){
  transform: rotate(60deg) translateX(800px) rotate(-60deg);
}
.skill-container .skill:nth-child(4){
  transform: rotate(90deg) translateX(1200px) rotate(-90deg);
}
.skill-container .skill:nth-child(5){
  transform: rotate(120deg) translateX(1500px) rotate(-120deg);
}
.skill-container .skill:nth-child(6){
  transform: rotate(180deg) translateX(1800px) rotate(-180deg);
}


.hero {
  position: relative;
  height:100vh;
  text-align: center;
  padding: 32px 20px;
  color: gray;
  background: linear-gradient(to right, black, rgba(31, 30, 30, 0.932),rgba(201, 198, 198, 0.027));
}
.contact-form-modal{
  display: flex;
  position: fixed;
  top:0;
  left:50%;
  right:0;
  transform: translate(-50%, -50%);
  width:100%;
  height:100vh;
  background: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(179, 179, 179, 0.966);
  transition:opacity 0.5s ease, visibility 0.5s ease;
  justify-content: center;
  align-items: center;
  overflow: none;
}
/*About Page*/
.advertisement-para{
  font-size: 22px;
  margin-bottom: 40px;
}

.smoke-effect {
  font-size: 24px;
  animation: smoke 0.5s infinite;
}
.text{
  width:100%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.text span{
  color:rgb(214, 203, 203);
  text-align: center;
}
@keyframes reveal{
  100%{
    opacity:0.2;
    filter: blur(0);
  }
}
span:nth-child(1){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(2){
  animation-delay:2s;
  -webkit-animation-delay:2s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(3){
  animation-delay:3s;
  -webkit-animation-delay:3s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(4){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(5){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(6){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(7){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(8){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(9){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(10){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(11){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(12){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(13){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}

.text-white{
  transform: translateY(-150%);
  font-size: 24px;
  height:32px;
  width:100%;
  color:white;
  font-weight: bold;
}
.white-button{
  color:white;
  font-size: 24px;
}
.menu-button{
  position:absolute;
  color:white;
  width:24px;
  height:24px;
}
/*about section*/
.about-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
}
.about-me__container{
  display: flex;
  text-align: center;
  width:100%;
}
.about-me__para{
font-size: 24px;
margin-top: 140px;
margin-bottom: 200px;
}
.about-skill__title{
  width:100%;
  margin: 0 auto;
  font-weight: bold;
  justify-content: center;
  font-size: 32px;
}
.projects-container{
  position: absolute;
  background:black;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.project-header{
  margin-top: 90%;
  margin-bottom: 150%;
  color:white;
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 1rem;
  text-shadow: 4px 2px 20px rgba(233, 236, 235, 0.849);
}
.project-link{
  color:white;
  display: flex;
  background-color:rgb(8, 8, 8);
}
.project-link:hover{
  box-shadow: 0 8px 40px rgba(241, 239, 239, 0.911);
}
/*projects page*/
.projects-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.project-title{
  font-size: 32px;
}
.hero-section{
  position: relative;
  height:100vh;
  background-size: cover;
}
.links-container{
  display: flex;
  flex-direction: column;
  background:linear-gradient(to right, rgba(185, 183, 183, 0.7));
  width: 100%;
  max-width: 1500px;
  gap:250px;
  text-align: center;
  color:white;
}
.Year-two{
  color:rgb(241, 231, 231);
  font-size:48px;
  font-weight: bold;
}
.Week-two{
  color:white;
  font-size: 32px;
}
.week-two__title{
  text-decoration: underline;
  transform: translateX(10%);
  font-weight: 300;
}
.week-two__para{
  margin: 0 auto;
  transform: translateX(-60%);
  text-align: center;
  font-size: 32px;
  width:50%;
  color:red;
}
.Year-one__para{
  color:white;
  font-size: 32px;
}
.week-three{
  position: relative;
  margin-top:10%;
  transform: translateX(14%);
  color:white;
  font-size: 32px;
  text-decoration: underline;
}
.Javascript-link{
  color:rgb(87, 84, 84);
  margin-top: 10%;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 0.25em;
  text-shadow: 1px 10px 15px rgba(192, 15, 15, 0.952);
}
.week-four{
  display: flex;
  transform: translateX(15%);
  transform: translateY(50%);
  color:red;
  font-size: 32px;
}
.week-four__final{
  margin-top: 20%;
  color:rgb(172, 66, 66);
  text-shadow: 5px 5px 15px rgba(201, 193, 193, 0.863);
  font-size: 32px;
  font-weight: bold;
}
.solo-title{
  color:rgb(207, 28, 28);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 2rem;
  text-shadow: 5px 1px 5px rgba(172, 5, 96, 0.863);
}
.journey-para{
  margin-top: 40%;
  color:white;
  font-style: italic;
  font-size: 32px;
}
.about-journey{
 font-size: 24px;
 margin-bottom: 24px;
}
.boss-title{
  margin-bottom: 50%;
  color:rgba(250, 235, 215, 0.712);
  text-shadow: 15px 15px 15px rgba(253, 14, 146, 0.863);
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 0.5em;
}
.boss-description{
  color:Red;
  font-size: 2em;
  margin-bottom: 50%;
}
.AI{
  color:gray;
  font-size: 2em;
}
.Threejs{
  color:rgb(31, 26, 26);
  font-size: 2em;
  font-style:italic;
  font-weight: bold;
  margin-right:24px;
  margin-left:24px;
}
.about-react{
  color:rgb(27, 27, 27);
  font-size: 2em;
  font-weight: bold;
  margin-left:24px;
  margin-right:24px;
}
.hard-language{
  position: absolute;
  color:rgb(244, 248, 245);
  text-shadow: -48px 2px 5px rgba(10, 10, 10, 0.863);
  font-size: 4em;
  margin-left:60px;
  animation: bounce 5s linear infinite;
}
.floating-plus{
  position: absolute;
  right:15px;
  bottom:50px;
  font-size: 0.75em;
  color:rgb(70,68,68);
  text-shadow: 0px 0px 5px rgba(231, 226, 231, 0.192);
  animation:floatSmoke 5s ease infinite;
}
   @keyframes floatSmoke{
    0%{transform: translateX(-10px); opacity: 1;}
    15%{transform: translateY(-100px); opacity:0.8}
    25%{transform: translateY(-150px); opacity:0.5;}
    50%{transform: translateY(-180px); opacity: 0.2;}
    75%{transform: translateY(-190px); opacity: 0.1;}
    100%{transform: translateY(-250px); opacity: 0;}
   }
.floating-plus:nth-child(1){
  animation-delay:0.1s;
}
.floating-plus:nth-child(2){
  animation-delay:0.2s;
}
.floating-plus:nth-child(3){
  animation-delay:0.1s;
}
.floating-plus:nth-child(4){
  animation-delay:0.5s;
}
.floating-plus:nth-child(5){
  animation-delay:0.2s;
}
.floating-plus:nth-child(6){
  animation-delay:2s;
}
.floating-plus:nth-child(7){
  animation-delay:0.5s;
}
.floating-plus:nth-child(8){
  animation-delay:0.8s;
}
@keyframes bounce{
  0%{
    transform: translateY(0);
  }
  30%{
    transform:translateY(-50px);
  }
  50%{
    transform:translateY(0);
  }
  70%{
    transform:translateY(-20px);
  }
  100%{
    transform:translateY(0);
  }
}
.advertisement-container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.operation-title{
  font-size: 32px;
  margin-top: 10%;
  text-decoration: underline;
}
.Plan-Container{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap:42px;
}
.Plan-Box, .Update-Box, .Publish-Box{
  color:rgb(133, 122, 122);
  border-radius: 25px;
  padding: 150px;
  transition: transform 0.3s ease;
  width:50%;
  height:500px;
  text-align: center;
  
}
.Plan-Box:hover, .Update-Box:hover, .Publish-Box:hover{
  transform: scale(1.1);
}
.Plan-Box p, .Update-Box p, .Publish-Box p{
  font-size: 24px;
}
.Plan-Title{
  font-family: 1em;
  position: absolute;
  color:rgb(248, 236, 236);
  background-color: rgb(49, 47, 47);
  overflow: hidden;
}
.Update-Box{
  background: linear-gradient(115deg, #161616, #8b3939);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.3);
}
.Publish-Box{
  background: linear-gradient(135deg, #131212, #9e3636);
  box-shadow: inset 0 0 20px rgba(216, 28, 28, 0.3);
}
.Plan-Box{
  background: linear-gradient(135deg, #161616,#8b3939);
  box-shadow: inset 0 0 20px rgba(216, 28, 28, 0.3);
}
.Talk{
  color:white;
  font-size: 2em;
  height:24px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.Talk-Para{
  color:white;
}
.publish{
  background-color: rgb(37, 24, 24);
  height:60px;
  color:black;
  font-weight: bold;
  font-size: 2em;
}
.about-me__container{
  background: linear-gradient(to bottom, rgb(78, 77, 77), rgba(160, 58, 58, 0.932),rgb(90, 35, 35));
  display: block;
}
.Apple_website{
  margin-top: 20%;
  color:white;
  border:2px solid red;
}
.theater{
  height:300px;
  width:600px;
  border:2px solid red;
}
.batman{
  height:350px;
  width:600px;
  border: 2px solid red;
}
.javascript-final{
  height:350px;
  width:600px;
}
.skill-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width:700px;
  color:rgba(240, 240, 240, 0.253);
  border-radius:58px;
  text-align: center;
  border: 2px solid rgb(231, 229, 235);
  box-shadow: 10px 10px 10px rgba(71, 70, 70, 0.658);
  transition:opacity 0.3s ease;
}
.skill-info-container p {
  display: flex;
  position: relative;
  text-align: center;
  font-size: 24px;
  max-width: 550px;
  color:rgb(243, 238, 238);
  z-index: 100;
  padding: 16px;
}
.canvas-container{
  position:absolute;
  display: flex;
  z-index: 100;
  pointer-events: auto;
}
.overlay{
  display: flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  font-style: italic;
  width:100%;
  font-size: 32px;
  line-height: 2.5;
  top:0;
  color:rgb(88, 86, 86);
  pointer-events: auto;
}
.contact-btn{
  position: relative;
  margin-top: 10%;
  border: 20px solid rgb(238, 234, 234);
  background-color: red;
  cursor:pointer;
  font-size: 1em;
  color:white;
  width:100%;
  z-index: 9999;
}
.skill-instruction{
  position: relative;
  transform: translateY(-80%);
  padding: 24px;
  top:0;
  color:white;
  font-size: 24px;
  z-index: 9999;
}
.Question-Mark{
  font-size: 4em;
  margin-top: 20%;
  font-weight: bold;
  font-style:oblique;
  margin-bottom: 50%;
}
.Job{
  color:white;
  border-radius: 50%;
  font-size: 6em;
  margin-bottom: 50%;
  text-decoration: underline;
}
.project-description{
  font-size: 32px;
  text-shadow: 2px 2px 10px rgba(241, 239, 239, 0.911);
}
/*contact form*/

@media(min-width:768px){
  .contact-form-modal{
    position:fixed;
    top:0;
    left:0;
  }
  .nav-bar__header{
    width:100%;
  }
 .skill{
  background-color: rgb(44, 42, 42);
  z-index: 9999;
  pointer-events: auto;
 }
  .skill-wrapper{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .skill-container{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap:40px;
    pointer-events: auto;
  }
  .skill-instruction{
    margin-top: 50%;
    width: 100%;
    text-align: center;
    display: flex;
  }
  .hero{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #home-page{
    max-width: 100%;
    height:100vh;
  }
  .canvas-container{
    height:100vh;
    width:100%;
  }
  
}
@media(min-width:480px){
  .contact-form-modal{
    position: fixed;
    top:50%;
    left:50%;
  }
  .introduction p{
    font-size: 4px;
  }
}
  #introduction p{
    flex:2;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100px;

}
.contact-form-modal{
  z-index: 9999;
}
.contact-form-modal input,
.contact-form-modal textarea{
  display: flex;
  width:100%;
  max-width: 800px;
  margin:10px 0;
  border:5px solid #1f1e1e;
  background-color:black;
  border-radius:4px;
  color:white;
}
.contact-form-modal button{
  background-color: #6b6c6d;
  color:white;
  border:none;
  border-radius: 4px;
  cursor:pointer;
}
.contact-form-modal button:hover{
  background-color: #3f4041;
}

#button{
  position: relative;
  background-color: rgb(92, 87, 87);
  box-shadow: #6c6d6e;
  border: 2px solid rgb(226, 220, 220);
  width:50%;
  max-width: 500px;
  transform: translateY(50%);
  margin: 0 auto;
  color:rgb(17, 17, 17);
}
textarea{
  width:100%;
  height:100%;
  max-width: 800px;
}
