@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #c51919, #e9a30d96, #03abb1);
  font-family: 'General Sans', sans-serif;
}

.nav-li {
  position: relative; /* Make text transparent */
  background: linear-gradient(90deg, #00aaff, #f808f8, #00aaff); /* Electric gradient */
  background-size: 400%; /* Make the gradient larger for animation */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* For other browsers */
}

.nav-li_a {
  padding: 150px; /* Add padding for better clickable area */
  text-decoration: none; /* Remove underline */
  transition: color 0.8s ease; /* Smooth color transition */
}

.nav-li:hover .nav-li_a {
  font-weight: bold;
  color: rgb(42, 184, 172); /* Change to white on hover */
  text-shadow: 0 0 10px rgb(148, 150, 151), 0 0 20px rgb(100, 96, 100); /* Optional glow effect */
}

/*fade in smoke effect for p tags on Hero section*/

.hero {
  position: relative;
  text-align: center;
  padding: 10px 20px;
  background: #d5d7dd;
  color: gray;
}

.smoke-effect {
  font-size: 24px;
  animation: smoke 0.5s infinite;
}

@keyframes smoke {
  0% {
      transform: translateY(0) scale(1);
      opacity: 1;
  }
  25% {
      transform: translateY(-10px) scale(1.1);
      opacity: 0.8;
  }
  50% {
      transform: translateY(0) scale(1);
      opacity: 0.5;
  }
  75% {
      transform: translateY(10px) scale(0.9);
      opacity: 0.8;
  }
  100% {
      transform: translateY(0) scale(1);
      opacity: 1;
  }
}
.fire:hover{
  text-shadow:0 0 200px #575453, 0 0 100px #d2d4d8, 0 0 100px #f11f1f, 0 0 200px #d69509;
}
.fire{
  position:relative;
  text-align:center;
  width:50%;
  font-weight: 500;
  letter-spacing: 0.5em;
  color:#f1ebeb;/*d41515*/
  font-size: 2rem;
  transition:1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  text-shadow: 200 0 200px #6e0e5e, 0 0 200px #a915bd, 0 0 100px #f62817, 0 0 200px #41052f;
  animation:reveal 1.5s linear forwards;
  filter:blur(80px);

}
span{
  letter-spacing: 0.5;
}
.text{
  width:100%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.text span{
  color:rgb(214, 203, 203);
  text-align: center;
}
@keyframes reveal{
  100%{
    opacity:0.2;
    filter: blur(0);
  }
}
span:nth-child(1){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(2){
  animation-delay:2s;
  -webkit-animation-delay:2s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(3){
  animation-delay:3s;
  -webkit-animation-delay:3s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(4){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(5){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(6){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(7){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(8){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(9){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(10){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(11){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(12){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(13){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
.companion{
  position:relative;
  height:100px;
  width:100px;
  background-color: red;
}
.eyes{
  width:10px;
  height:10px;
  background-color: red;
  border-radius: 50%;
}
.left-eye{
  position:relative;
  height:10px;
  width:10px;
  background-color: white;
  left:0;
  top:0;
  transform: translateY(100%);
}
.right-eye{
  position:relative;
  right:15px;
  top:20px;
}
.mouth{
  width:60px;
  border-radius: 50%;
  height:25px;
  background-color:blue;
  position:relative;
  top:35px;
  left:50%;
}
.text-white{
  transform: translateY(-150%);
  font-size: 24px;
  height:32px;
  width:100%;
  color:white;
  font-weight: bold;
}
.white-button{
  color:white;
  font-size: 24px;
}
.menu-button{
  position:absolute;
  color:white;
  width:24px;
  height:24px;
}
/*about section*/
.about-title{
  color:white;
  width:100%;
  background-color: red;
  font-size: 24px;
  font-weight: bold;
}