@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: 'General Sans', sans-serif;
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  .head-text {
    @apply sm:text-4xl text-3xl font-semibold text-gray_gradient;
  }

  .nav-ul {
    @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
  }

  .nav-li {
    @apply text-neutral-400 hover:text-white font-generalsans max-sm:hover:bg-black-500 max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
  }

  .nav-li_a {
    @apply text-lg md:text-base hover:text-white transition-colors;
  }

  .nav-sidebar {
    @apply absolute left-0 right-0 bg-black-200 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }

  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

  /* button component */
  .btn {
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md bg-black-300  transition-all active:scale-95 text-white mx-auto;
  }

  .btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
  }

  .btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
  }

  /* hero section */
  .hero_tag {
    @apply text-center xl:text-4xl md:text-2xl sm:text-4xl text-3xl font-generalsans font-black !leading-normal;
  }

  /* about section */
  .grid-container {
    @apply w-full h-full border border-black-300 bg-black-200 rounded-lg sm:p-7 p-4 flex flex-col gap-5;
  }

  .grid-headtext {
    @apply text-xl font-semibold mb-2 text-white font-generalsans;
  }

  .grid-subtext {
    @apply text-[#afb0b6] text-base font-generalsans;
  }

  .copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
  }

  /* projects section  */
  .arrow-btn {
    @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full arrow-gradient;
  }

  .tech-logo {
    @apply w-10 h-10 rounded-md p-2 bg-neutral-100 bg-opacity-10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
  }

  /* clients section */
  .client-container {
    @apply grid md:grid-cols-2 grid-cols-1 gap-5 mt-12;
  }

  .client-review {
    @apply rounded-lg md:p-10 p-5 col-span-1 bg-black-300 bg-opacity-50;
  }

  .client-content {
    @apply flex lg:flex-row flex-col justify-between lg:items-center items-start gap-5 mt-7;
  }

  /*  work experience section */
  .work-container {
    @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
  }

  .work-canvas {
    @apply col-span-1 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content {
    @apply col-span-2 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content_container {
    @apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-black-300 rounded-lg sm:px-5 px-2.5;
  }

  .work-content_logo {
    @apply rounded-3xl w-16 h-16 p-2 bg-black-600;
  }

  .work-content_bar {
    @apply flex-1 w-0.5 mt-4 h-full bg-black-300 group-hover:bg-black-500 group-last:hidden;
  }

  /* contact section */
  .contact-container {
    @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
  }

  .field-label {
    @apply text-lg text-white-600;
  }

  .field-input {
    @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
  }

  .field-btn {
    @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
  }

  .field-btn_arrow {
    @apply w-2.5 h-2.5 object-contain invert brightness-0;
  }

  /*  footer */
  .social-icon {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* styles for nav components*/

.nav-li {
  position: relative;
  color: transparent; /* Make text transparent */
  background: linear-gradient(90deg, #00aaff, #f808f8, #00aaff); /* Electric gradient */
  background-size: 400%; /* Make the gradient larger for animation */
  -webkit-background-clip: text; /* Clip the background to the text */
  background-clip: text; /* For other browsers */
  animation: flow 5s linear infinite; /* Animate the gradient */
}

@keyframes flow {
  0% {
      background-position: 0%; /* Start position of gradient */
  }
  100% {
      background-position: 100%; /* End position of gradient */
  }
}

.nav-li_a {
  padding: 150px; /* Add padding for better clickable area */
  text-decoration: none; /* Remove underline */
  transition: color 0.8s ease; /* Smooth color transition */
}

.nav-li:hover .nav-li_a {
  color: rgb(42, 184, 172); /* Change to white on hover */
  text-shadow: 0 0 10px rgb(148, 150, 151), 0 0 20px rgb(100, 96, 100); /* Optional glow effect */
}

/*fade in smoke effect for p tags on Hero section*/

.hero {
  position: relative;
  text-align: center;
  padding: 10px 20px;
  background: #d5d7dd;
  color: gray;
}

.smoke-effect {
  font-size: 24px;
  animation: smoke 0.5s infinite;
}

@keyframes smoke {
  0% {
      transform: translateY(0) scale(1);
      opacity: 1;
  }
  25% {
      transform: translateY(-10px) scale(1.1);
      opacity: 0.8;
  }
  50% {
      transform: translateY(0) scale(1);
      opacity: 0.5;
  }
  75% {
      transform: translateY(10px) scale(0.9);
      opacity: 0.8;
  }
  100% {
      transform: translateY(0) scale(1);
      opacity: 1;
  }
}
.fire:hover{
  text-shadow:0 0 200px #575453, 0 0 100px #d2d4d8, 0 0 100px #f11f1f, 0 0 200px #d69509;
}
.fire{
  position:relative;
  text-align:center;
  width:50%;
  font-weight: 500;
  letter-spacing: 0.5em;
  color:#a5460f;/*d41515*/
  font-size: 2rem;
  transition:1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  text-shadow: 200 0 200px #6e0e5e, 0 0 200px #a915bd, 0 0 100px #f62817, 0 0 200px #41052f;
  animation:reveal 1.5s linear forwards;
  filter:blur(80px);

}
span{
  letter-spacing: 0.5;
}
.text{
  width:100%;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.text span{
  color:rgb(214, 203, 203);
  text-align: center;
}
@keyframes reveal{
  100%{
    opacity:0.8;
    filter: blur(0);
  }
}
span:nth-child(1){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(2){
  animation-delay:2s;
  -webkit-animation-delay:2s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(3){
  animation-delay:3s;
  -webkit-animation-delay:3s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(4){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(5){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(6){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(7){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(8){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(9){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(10){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(11){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(12){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
span:nth-child(13){
  animation-delay:0.7s;
  -webkit-animation-delay:0.7s;
  -moz-animation-delay: 0.7s;
}
.companion{
  position:relative;
  height:100px;
  width:100px;
  background-color: red;
}
.eyes{
  width:10px;
  height:10px;
  background-color: red;
  border-radius: 50%;
}
.left-eye{
  position:relative;
  height:10px;
  width:10px;
  background-color: white;
  left:0;
  top:0;
  transform: translateY(100%);
}
.right-eye{
  position:relative;
  right:15px;
  top:20px;
}
.mouth{
  width:60px;
  border-radius: 50%;
  height:25px;
  background-color:blue;
  position:relative;
  top:35px;
  left:50%;
}
.text-white{
  transform: translateY(-150%);
  font-size: 24px;
  height:32px;
  width:100%;
  color:white;
  font-weight: bold;
}
.white-button{
  color:white;
  font-size: 24px;
}
.menu-button{
  position:absolute;
  color:white;
  width:24px;
  height:24px;
}